/* fonts */

@font-face {
    font-family: poppinsMedium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsBold;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsLight;
    src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsSemiBold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: victoriaTypewriterRegular;
    src: url(../assets/fonts/VictoriaTypewriterRegular.ttf);
}

@font-face {
    font-family: remachine;
    src: url(../assets/fonts/RemachineScript_Personal_Use.ttf);
}

/* General styles */

* {
    font-family: poppinsMedium;
    color: whitesmoke;
}

*::selection {
    background-color: #C797DB;
}

body {
    background-color: #13243E;
    background-image: url("../assets/images/galaxy.jpg");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 95vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101e33;
    width: 75%;
    padding: 50px;
    border-radius: 30px;
    border: 7.5px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
}

/* password window */

.display-and-refresh {
    display: flex;
    justify-content: center;
    width: 100%;
}

#display-password {
    display: flex;
    background: whitesmoke;
    height: 10vh;
    width: 80%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#password-itself {
    font-family: victoriaTypewriterRegular;
    color: black;
    font-size: 2rem;
}

.fa-solid {
    font-size: 20px;
    margin-left: 10px;
}

.fa-arrows-rotate:active {
    transform: rotate(180deg);
    transition: transform 0.3s ease-out;
}

.fa-arrows-rotate {
    background-color: #C797DB;
    padding: 25%;
    border-radius: 30px;
}

/* copy button */

.generate-and-copy {
    margin-top: 20px;
}

.generate-copy-btn {
    height: 7vh;
    width: 18vw;
    background-color: #1167e8;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
}

.generate-copy-btn:hover {
    background-color: #C797DB;
}

/* options */

h3 {
    margin: 0;
}

.password-options {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    justify-content: space-around;
}

.option-container {
    display: flex;
    flex-direction: column;
}

/* footer */
footer {
    height: 8vh;
}

strong{
    font-family: remachine;
    font-weight: 300;
    font-size: 30px;
}

.build-with{
    font-family: poppinsSemiBold;
    color: white;
    font-size: 15px;
    margin-right: 1vw;
    margin-top: -10px;
}

.made-jopay{
    color: #E94560;
}

/* responsive */ 

@media (max-width: 1140px) {
    .generate-copy-btn{
        width: 25vw;
    }
}


/* tablet */ 

@media (max-width: 820px) {
    .generate-copy-btn {
        width: 30vw;
        height: 5vh;
    }

    #generate-password {
        margin-bottom: 10px;
        width: 20vw;
    }

    #display-password {
        height: 8vh; 
    }
    #password-itself {
        font-size: 1.7rem;
    }
}

/* mobile */

@media (max-width: 450px) {
    main {
        height: auto;
        width: 95%;
        margin-bottom: 0;
        align-items: flex-start;
    }

    section {
        height: 85%;
        padding: 30px;
    }

    h1 {
        font-size: 1.3rem;
        margin: 0;
        text-align: center;
    }

    p {
        font-size: .8rem;
        text-align: center;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        /* margin-bottom: 125px; */
    }

    #display-password {
        height: 7vh;
        width: 100%;
        border-radius: 5px;
    }

    #password-itself {
        font-size: 1rem;
    }

    .fa-arrows-rotate {
        font-size: 15px;
    }

    #generate-password {
        width: 40vw;
    }

    .generate-copy-btn {
        height: 4vh;
        width: 55vw;
        font-size: .9rem;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1rem;
    }

    .password-options {
        flex-direction: column;
        margin: 0;
        margin-top: 5px;
    }

    .option-container {
        margin-bottom: 5px;
    }

    label {
        font-size: .8rem;
    }

    footer {
        margin-top: -10px;
    }

    .build-with{
        font-size: 13px;
    }
    strong {
        font-size: 25px;
    }
}